.works-container {
    width: 50%;
    margin: 10px auto;
  }
  h3 {
    width: 100px;
    margin: 30px auto;
    text-align: center;
  }
  .work {
    border-top: solid #00acee;
    margin-top: 10px;
    padding-top: 20px;
  }
  .main-box {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
  }
  .time {
    display: flex;
    justify-content: flex-end;
  }

  .picture {
    margin-bottom: 20px;
    width: 1400px;
    height: 650px;
    background-image: url(2023-12-03.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0px;
  }

